*{
    margin: 0;
}

body{
    width: 100%;
    background-color: rgba(186, 201, 246, 0.639);
    overflow-x: hidden;

}
header{
    background-color: #4b4bf4;
    color:#fff; 
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
/* Responsividade para telas grandes- Desktop */
@media screen and (min-width: 768px) {
    nav {
      width: 30%;
    }
    .home__sec1 {
      width: 50%;
    }
    .home__sec2 {
      width: 35%;
    }
    aside {
      width: 15%;
    }
    
  }
  
  /* Responsividade para telas médias- Tablet */
  @media screen and (max-width: 767px) {
    nav {
      width: 50%;
    }
    .home__sec1 {
      width: 100%;
    }
    .home__sec2 {
      width: 100%;
    }
    aside {
      display: none;
    }
  }
  
  /* Responsividade para telas pequenas- Celular */
  @media screen and (max-width: 480px) {
    nav {
      width: 100%;
    }
  }
  
nav{
    display: flex;
    justify-content: space-around;    
}

nav a{
    color: #fff;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    display: flex;
    align-items: center;    
}

nav a:hover{
    color: #d47846;
    text-decoration: none;
}

#logo{
    width: 7vw;
    height: 100%;
    padding-left: 4%;   
}

/*Parte principal do site*/

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  height: 100%;
}

.home__sec1{    
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;   
    width: 50%; 
    height: 100%;
    float: left;          
}
.home__sec1 article{   
  align-items: center;
  text-align: center;    
}
.home__sec1 a{
  color: #002082;
  font-size: x-large;
  text-decoration: none; 
  cursor: pointer;
  
}
.home__sec1 a h1{
  margin-top: 3vh;   
}

.img_1{
  border-radius: 5%;
  width: 30vw;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

/*Seção 2*/
.home__sec2{     
    display: flex;
    flex-wrap: wrap;    
    text-align: center;
    justify-content: center; 
    float: left;     
}
.home__sec2 a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #1a7606;
  cursor: pointer;
}
.home__sec2 a h3{
  margin-top: 2vh;   
}
.happy{
  width: 25vw;
}

.video{
  width: 25vw;
  height: 35vh;
}

/*Cadastro e acesso às pags*/
.social{
    background-color: aquamarine;
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}
.cad{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img_2{
  width: 15vw;
  height: 25vh;
  border-radius:10%;
}

.cad a{
  text-decoration: none;
  padding-left: 2%;
  color: #e9067f;
  font-size: large
}


.navegacao{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navegacao a{
  text-decoration: none;
  color: #79df25;
  font-size: large
  
}
.navegacao p{
  font-weight: bold;
  font-size: large

}

.inst{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.inst a{
  text-decoration: none;
  color: #e97406;
  font-size: large
  
}
.inst p{
  font-weight: bold;
  font-size: large
}


/*Aside*/
aside{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(224, 144, 192);
  height: 100vh;
  float: right;
}

.home_banner {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100% ;    
    height: 100%;    
}
  
.banner {    
    width: 100%;
    height: 33%;
    color: #fff;
    display: flex;
    justify-content: center ;
    align-items: center;
    border: 1px solid #131313;
  }

 /*Footer*/ 
  .rodape{
    flex-shrink: 0;
    background-color: #7ed957;
    padding: 10px;
    position:absolute;
    min-width: 100%;
    height: 50px;
    margin-top: 0;
    display: flex;  
}
.rodape ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px;
    width: 40%;
}
.rodape ul li a{
    display: flex;
    justify-content: center;
    padding: 10px;    
}

.rep{
    display: flex;
    align-items: end; 
}

